
<div class="container">
<div class="textarea" style="flex-grow: 5">
  <div class="text">
    <h1>TestBoost</h1>
    <p class="text-p" > Hakkımızda</p>
  <p  > Bu projede iki kişi olarak bir araya geldik ve 2020 yılında İstanbul Gelişim Üniversitesi'nde Bilgisayar Mühendisliği
     bölümünde eğitim serüvenimize başladık. Bu süreç boyunca bize kılavuzluk eden ve destek olan tüm kıymetli hocalarımıza 
     içtenlikle teşekkür ediyoruz. Bitirme projesi olarak insanlara faydalı olacağına inandığımız bir web uygulaması geliştirdik. 
     Bu uygulama, bireylerin kendi evlerinde, internet üzerinden sınavlarını oluşturup bilgilerini sınama imkanı sağlıyor. Umarız,
      bu projemiz sizin için değerli bir kaynak olur ve memnuniyetle karşılanır.</p></div>
</div>
<div class="imgarea" style="flex-grow: 3">
  <img class="imgs"  src="../../../assets/figmanew.png" alt="figma">
</div>
</div>